.head{
    display: flex;
    justify-content: center;
}

header{
    background-color: rgba(130, 39, 172, 0.849);
    width: 100%;
    height: 170px;
    font-size: larger;
    z-index: 10;
    font-family: 'Overpass', sans-serif; 
    padding-top: 10px;
}



.v-music{
    width: 100px;
    border-radius: 100px;
    border-style: solid;
    border-color: black;
    display: block;
    margin-left: 630px;
    transition: ease-in-out 0.3s;
    align-self: flex-end;
}

.v-music:hover{
    transform: scale(1.2);
}

.color{
    color: black;
}

footer{
    background-color: black;
    width: 100%;
    height: 200px;
    font-size: larger;
    bottom: 2px;
    z-index: 10;
    font-family: 'Overpass', sans-serif;
    margin-top: 100px;
}

.v-music:hover{
    transform: scale(1.2);
}

.titulo-genero{
    color: black;
    margin-top: 50px;
}

.artista-name{
    display: grid;
    gap: 70px;
    padding: 10px;
    display: grid;
    font-family: 'Girassol', cursive;
    text-align: center;
    margin-bottom: 10px;
}

.contenedor{
    display: grid;
    gap: 30px;
    display: grid;
    font-family: 'Girassol', cursive;
    text-align: center;
    margin-bottom: 10px;
    width: 1024px;
    margin: 0 auto;
}

.imagen-genero{
    margin: auto;
}

.forms{
    
    margin-top: 50px;
    width: 400px;
    margin-left: 50px;
    
}



.tracks{
    margin-top: 100px;
}

li{
    list-style-type: none;
}


.menu2 {
    text-align: right;
}

header ul{
    list-style-type: none;
    display: flex;
    font-family: 'Overpass', sans-serif;
}

header ul li a{
    display: inline-block;
    padding: 30px;
    font-size: larger;
    font-family: 'Overpass', sans-serif;
    column-gap: 30px;
    margin-left: 555px;
    color: black;
    text-transform: uppercase;
    
}
  

.products{
    display: grid;
    gap: 70px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr   ;
    color: white;
    font-family: 'Girassol', cursive;
    text-align: center;
    margin-bottom: 10px;

}



.product{
    position: relative;
    width: 100px;
    height: 100px;
}

.product img{
    height: 100%;
    border-radius: 100px;
    border-style: solid;
    border-color: white;


}
#artistas{
    margin-bottom: 20px;
}

#home{
    padding: 50px;
}

#products_generos{
    display: grid;
    gap: 20px;
    padding: 10px;
    width: 100px;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: white;
    font-family: 'Girassol', cursive;
    text-align: center;
    margin-bottom: 10px;
   
}
#tracks{
    display: grid;
    gap: 50px;
    padding: 10px;
    color: white;
    font-family: 'Girassol', cursive;
    grid-template-columns:  1fr 1fr ;
    margin-left: 100px;
}


h2{
    color: black;
    text-align: center;
   font-size: xx-large;
   background-color:rgba(237, 236, 238, 0.5) ;
  

}

.titulotrack{
    color: black;
    margin-top: 50px;
}



.playlists img{
    height: 100%;
    border-style: solid;
    border-color: white;
    width: 100px;
    height: 100px;
    border-radius: 25px;
}

p{
    color: white;
}

.deezer{
    width: 100px;
    border-style: solid;
    border-radius: 100%;
    border-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.search_input{
    outline: none;
    height: 30px;
    width: 20vw;
    font-size: 1em;
    padding: 0px 20px;
    border-radius: 30px;
    border: 2px solid white;
    box-shadow: 0 1px 3px rgba (0,0,0,0.12);
}
#home_album{
    margin-top: 320px;
}


#carouselExampleControls{
    width: 750px;
    height: 75px;
    text-align: center;
}

.toggle-nav{
    display: none;
}


@media (max-width: 768px){


    header{
        width: 100%;
    }

    footer{width: 100%;}
    
    .toggle-nav{
        display: contents;
    }

    .search_input{
        width: 50%;
    }
   
    #home{
        padding: 10px;
    }
    .products{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    #products_generos{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
   #products_tracks{
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   }
}

@media (max-width: 420px){
    .search_input{
        width: 80%;
    }

    #products{
        grid-template-columns: 1fr 1fr 1fr;
    }

    #carouselExampleControls{
        display: none;
    }
    header ul{
        padding: none;
        font-size: 10px;
    }
    #home_album{
        margin-top: 0px;
    }
    #home{
        padding: 0px;
    }
    .products{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #products_generos{
        grid-template-columns: 1fr 1fr 1fr ;
    }
    #products_tracks{
        grid-template-columns: 1fr 1fr 1fr ;
    }
}